<div class="footer">
  <div class="footer__company-contacts-row">
      <div class="footer__company-contacts">

          <div class="social-media-href">
              <!-- <img src="../../assets/images/vk-icon.png"/> -->
              <img src="assets/images/vk-icon.png"/>
          </div>
          <div class="social-media-href">
              <!-- <img src="../../assets/images/inst-icon.png"/> -->
              <img src="assets/images/inst-icon.png"/>
            </div>
   
          </div>       
  
          

  <div class="footer__company-contacts">
  
      <div class="footer__company-contacts-address">&copy; ЦКиД &quot;Камертон&quot; &ndash; {{currentYear}}</div>
      <div class="footer__company-contacts-address">г. Сургут, ул. Островского, 16/1</div>
</div>

<div class="footer__company-contacts">
  
    <div class="footer__company-contacts-address">help@hellokamerton.ru</div>
    <div class="footer__company-contacts-address footer__company-contacts-address_font-style-semibold">+7 3462 711-818</div>
</div>

  </div>
  
  <div class="footer__developer-contact">
    <!-- <img src="../../assets/images/ff-icon.png"/> -->
    <img src="assets/images/ff-icon.png"/>
  </div>  
</div>